
# downloading audio from youtube:
pytube

# displaying images / playing audio:
IPython
requests
Pillow
matplotlib


# processing / playing audio:
#simpleaudio
librosa
soundfile
#pyaudio

# data processing:
pandas
numpy

# machine learning:
#sklearn
#umap



# automated tests:
pytest
